body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2em;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 2em;
    text-align: center;
}

main img {
    max-width: 100%;
    height: auto;
    margin-top: 1em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}

.gallery {
    display: flex;
    gap: 1em;
    justify-content: center;
    flex-wrap: wrap;
}


.gallery img {
    width: 30%;
    border-radius: 5%px;
}

